version: "3.9"

services:
  adia-api:
    build: .
    container_name: adia_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./data:/app/data
    restart: unless-stopped
